<h1 mat-dialog-title>Add Team</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="team.name" placeholder="Name" [formControl]="teamNameControl">
    <mat-error *ngIf="teamNameControl.hasError('required')">Team name required!</mat-error>
    <mat-error *ngIf="teamNameControl.hasError('minlength')">Minimum length is 3!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Player One</mat-label>
    <mat-select [(ngModel)]="team.playerOneId" [formControl]="playerOneControl">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let player of players" [value]="player.id">
        {{player.name + ' ' + player.surname}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="playerOneControl.hasError('required')">Please choose an player</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Player Two</mat-label>
    <mat-select [(ngModel)]="team.playerTwoId" [formControl]="playerTwoControl">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let player of players" [value]="player.id">
        {{player.name + ' ' + player.surname}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="playerTwoControl.hasError('required')">Please choose an player</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button [disabled]='teamNameControl.invalid || playerOneControl.invalid || playerTwoControl.invalid' mat-button
    (click)="onAdd()">ADD</button>
</div>