<mat-card>
  <mat-list>
    <mat-list-item class="listHeader">Name</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{team.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listHeader">Player 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{team.playerOne.name}}</mat-list-item>
    <mat-list-item>{{team.playerOne.surname}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listHeader">Player 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{team.playerTwo.name}}</mat-list-item>
    <mat-list-item>{{team.playerTwo.surname}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="listHeader">Rating</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{team.rating}}</mat-list-item>
  </mat-list>
</mat-card>